body {
  background-color: #EAF6F6;  /*In between the style tag select/write that HTML element that you want to effect*/

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
